fastapi
uvicorn[standard]
python-dotenv

# Database
sqlalchemy
psycopg2-binary

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
email-validator

# Payments
requests

# AI
openai>=1.30.0

# Forms / uploads
python-multipart
